{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ article.title }}</h1>
    <div class="alert alert-info">
        <p>{{ article.text }}</p>
        <p><b>date: {{ article.date.date() }}</b></p>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-danger btn-outline-primary">delete</a>
        <a href="/posts/{{ article.id }}/edit" class="btn btn-success btn-outline-primary">edit</a>
    </div>
</div>
{% endblock %}